- let teamYear = '2005'

  h1.main-title NBA Suppa
  div.rect
    h2.second-title 
      a(href="")= `${teamYear} All-Draft Team`
    include pg.pug
    include sg.pug
    include sf.pug
    include pf.pug
    include c.pug