doctype
head
  meta(charset="utf-8")
  link(rel="stylesheet" href="normalize.css")
  link(rel="stylesheet" href="typography.css")
  link(rel="stylesheet" href="style.css")
  title NBA Suppa
body
  include ./2005/2005-all-draft-team
  include ./2006/2006-all-draft-team